[submodule "third_party/libwebsockets"]
	path = third_party/libwebsockets
	url = https://github.com/warmcat/libwebsockets
	branch = v1.7-stable
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "third_party/mmx"]
	path = third_party/mmx
	url = https://github.com/vurtun/mmx.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
